<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/styleOverview.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Node shit</h1>

        <div class="cards-container">
            <figure class="card">

                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Insert Title here</h2>
                </div>

                <div class="card__details">

                    <div class="card__detail-box">

                        <h6 class="card__detail card__detail--organic">Insert Details</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail "> Bla bla bla</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">$6.50</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">emoji</i></span>
                </a>

            </figure>

        <adiv class="cards-container">
            <figure class="card">

                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Insert Title here</h2>
                </div>

                <div class="card__details">

                    <div class="card__detail-box">

                        <h6 class="card__detail card__detail--organic">Insert Details</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail "> Bla bla bla</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">$6.50</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">emoji</i></span>
                </a>

            </figure>
        <div class="cards-container">
            <figure class="card">

                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Insert Title here</h2>
                </div>

                <div class="card__details">

                    <div class="card__detail-box">

                        <h6 class="card__detail card__detail--organic">Insert Details</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail "> Bla bla bla</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">$6.50</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">emoji</i></span>
                </a>

            </figure>
        <div class="cards-container">
            <figure class="card">

                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Insert Title here</h2>
                </div>

                <div class="card__details">

                    <div class="card__detail-box">

                        <h6 class="card__detail card__detail--organic">Insert Details</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail "> Bla bla bla</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">$6.50</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">emoji</i></span>
                </a>

            </figure>
        <div class="cards-container">
            <figure class="card">

                <div class="card__emoji">🥑🥑</div>

                <div class="card__title-box">
                    <h2 class="card__title">Insert Title here</h2>
                </div>

                <div class="card__details">

                    <div class="card__detail-box">

                        <h6 class="card__detail card__detail--organic">Insert Details</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail "> Bla bla bla</h6>
                    </div>

                    <div class="card__detail-box">
                        <h6 class="card__detail card__detail--price">$6.50</h6>
                    </div>
                </div>
                <a href="#" class="card__link">
                    <span>Detail <i class="emoji-right">emoji</i></span>
                </a>

            </figure>

        </div>
    </div>

</body>

</html>